.MainContainer{
    flex-direction: column;
    position: relative;
    .HeaderContainer{
        width: fit-content;
        height: fit-content;
        margin: auto;
    }
    .EnterFieldsContainer{
        width: fit-content + 50px;
        height: fit-content;
        border-color: lightgray;
        margin: auto;
        box-shadow: 0 3px 8px gray;
    }
    .SubmitButton{
        margin-top: 15px;
    }
    .backButton{
        margin-right: 1120px;
    }
}